﻿@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the Course Demo Site</h1>
    <p>We will be adding additional UI and data access functionality today.</p>
    
</div>
